pkgbase = artifacthub
	pkgdesc = Find, install and publish Cloud Native packages
	pkgver = 1.23.0
	pkgrel = 1
	url = https://github.com/artifacthub/hub
	arch = aarch64
	arch = x86_64
	license = Apache 2.0
	makedepends = go
	makedepends = tensorflow
	source = https://github.com/artifacthub/hub/archive/refs/tags/v1.23.0.zip
	sha512sums = 20e554c5fc83b7f7346714c50e4059cd20e6ff1d4c511e0a38514ff9e0f3b1cb41de0f3ea7ddc37a70ed4e435cefb430e56987cbb41640f42923d0d11523a674
	b2sums = 340dd3f40efec108d94d0630755da1ed384171b810616aaafa672fbed2f1f71c1784a2d739df126fe0e846e57139fbe61aaa76e2be8100fbacacca780b98107f

pkgname = artifacthub-cli
	pkgdesc = Artifact Hub CLI tool

pkgname = artifacthub-hub
	pkgdesc = Artifact Hub is a web-based application that enables finding, installing, and publishing Kubernetes packages

pkgname = artifacthub-scanner
	pkgdesc = Artifact Hub scanner tool
	depends = artifacthub-hub

pkgname = artifacthub-tracker
	pkgdesc = Artifact Hub tracker tool
	depends = artifacthub-hub
